<div class="container">
	<div class="row">
		<!-- Ajout d'un film -->
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: black">
					<h4>Ajouter un film</h4>
				</div>
				<div class="panel-body">
					<!-- le formulaire de saisie de film -->
					<div>

						<div>
							<label for="titre">Titre :</label>
							<input [(ngModel)]="film.titre" class="form-control">
						</div>
						<div>
							<label for="duree">Duree :</label>
							<input [(ngModel)]="film.duree" class="form-control">
						</div>
						<div>
							<label for="realisateur">Realisateur :</label>
							<input [(ngModel)]="film.realisateur" class="form-control">
						</div>
						<div>
							<label for="description">Description :</label>
							<input [(ngModel)]="film.description" class="form-control">
						</div>
						<div>
							<label for="photo">Photo :</label>
							<input [(ngModel)]="film.photo" class="form-control">
						</div>
						<div>
							<label for="dateSortie">Date de sortie :</label>
							<input type="date" [(ngModel)]="film.dateSortie" class="form-control">
						</div>
						<div>
							<label for="select-categorie">Categorie :</label>
							<select class="form-control" id="select-categorie" [(ngModel)]="film.categorie">
								<option *ngFor="let c of categories" [ngValue]="c">
									{{c.name}}
								</option>
							</select>
						</div><br>
						<button (click)="savefilm()" class="btn bg-primary spacer espace"
							style="background-color: black">
							Ajouter
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Liste des films -->
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: black">
					<h4>Liste des films</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="films.length>0">

						<table class="table table-striped">
							<tr>
								<td>ID</td>
								<td>Titre</td>
								<td>Date de sortie</td>
								<td>Duree</td>
								<td>Realisateur</td>
								<td>Photo</td>
								<td>Categorie</td>
							</tr>
							<tr *ngFor="let f of films">
								<td>{{f.idFilm}}</td>
								<td>{{f.titre}}</td>
								<td>{{f.dateSortie | date:"dd/MM/yyyy"}}</td>
								<td>{{f.duree}}</td>
								<td>{{f.realisateur}}</td>
								<td>{{f.photo}}</td>
								<td>{{f.categorie.name}}</td>

								<td><button class="btn btn-success btn-sm" (click)="detail(f.idFilm)">Modifier</button>
								</td>
								<br><br>
								<td><button class="btn btn-danger btn-sm"
										(click)="supprimer(f.idFilm)">Supprimer</button></td>

								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

