<div class="container">
	<div class="row">
		<!-- Ajout d'une place -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: black">
					<h4>Ajouter une place</h4>
				</div>
				<div class="panel-body">
					<!-- le formulaire de saisie de place -->
					<div>
						
						<div>
							<label for="numero">Numero :</label>
							<input [(ngModel)]="place.numero" class="form-control">
						</div><br/>
						<div>
							<label for="altitude">Altitude :</label>
							<input [(ngModel)]="place.altitude" class="form-control">
						</div><br/>
						<div>
							<label for="latitude">Latitude :</label>
							<input [(ngModel)]="place.latitude" class="form-control">
						</div><br/>
						<div>
							<label for="longitude">Longitude :</label>
							<input [(ngModel)]="place.longitude" class="form-control">
						</div><br/>

						<label for="select-salle">Salle :</label>
						<select class="form-control" id = "select-salle" [(ngModel)]= "place.salle">
							<option *ngFor="let s of salles" [ngValue] = "s">
							  {{s.name}}
							</option>
						</select><br>
						
						<button (click)="saveplaces()" class="btn bg-primary spacer espace" style="background-color: black">
							Ajouter
						</button>
					</div>
				</div>
			</div>
		</div> 
		<!-- Liste des places -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading" style="background-color: black">
					<h4>Liste des places</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="places.length>0">
                       
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
								<td>Numero</td>
								<td>Salle</td>
                            </tr>
                            <tr *ngFor="let p of places">
                                <td>{{p.idPlace}}</td>
								<td>{{p.numero}}</td>
								<td>{{p.salle.name}}</td>
								<td><button class="btn btn-success btn-sm" (click)="detail(p.idPlace)">Details</button></td>
								<td><button class="btn btn-danger btn-sm" (click)="supprimer(p.idPlace)">Supprimer</button></td>
                                <br><br>
                                <td></td>
                            </tr>
                        </table>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>

