	<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand">CINEMA CITY &nbsp;&nbsp;&nbsp; &#10160; &nbsp;&nbsp;&nbsp;</a>
			<ul class="nav navbar-nav">
				<table class="table table-striped">
					<tr>
						<!--<td>==============================</td>-->
						<td>
							<div class="drawer">
								<input type="checkbox">
								<span class="drawer__name">
									<span><strong>Administrateur</strong></span>
									<span class="drawer__arrow">[]</span>
								</span>
								<ul class="drawer__content">
									<li><a [routerLink]="['categorie']">Categorie</a></li>
									<li><a [routerLink]="['cinema']">Cinema</a></li>
									<li><a [routerLink]="['ville']">Ville</a></li>
									<li><a [routerLink]="['salle']">Salle</a></li>
									<li><a [routerLink]="['place']">Place</a></li>
									<li><a [routerLink]="['seance']">Seance</a></li> 
									<li><a [routerLink]="['film']">Film</a></li>
									<li><a [routerLink]="['projectionFilm']">Projection Film</a></li>
									<li><a [routerLink]="['ticket']">Ticket</a></li>
								</ul>
							</div>
						</td>
						<!--<td>==========</td>-->
						<td>
							<div class="drawer">
								<input type="checkbox">
								<span class="drawer__name">
									<span><strong>Client</strong></span>
									<span class="drawer__arrow">[]</span>
								</span>
								<ul class="drawer__content">
									<li><a [routerLink]="['client']">Reservation</a></li>
								</ul>
							</div>
						</td>
						<!--<td>==============================</td>-->
						<td><a id="home" href="/home"><span style="color:black"><b>Home</b></span></a></td>
					</tr>
				</table>
			</ul>
		</div>
	</nav>

	<!-- {{CheminComplet}} -->

	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>

