<div class="container">
	<h1>PROJET CINEMA</h1>
	<!--affichage du menu-->
	<div class="row">
		<button routerLink="/categorie" class="btn btn-primary espace">Categorie</button>
		<button routerLink="/film" class="btn btn-primary espace">Film</button>
		<button routerLink="/projectionFilm" class="btn btn-primary espace">Projection Film</button>
		<button routerLink="/cinema" class="btn btn-primary espace">Cinema</button>
		<button routerLink="/salle" class="btn btn-primary espace">Salle</button>
		<button routerLink="/ville" class="btn btn-primary espace">Ville</button>
		<button routerLink="/place" class="btn btn-primary espace">Place</button>
		<button routerLink="/ticket" class="btn btn-primary espace">Ticket</button>
		<button routerLink="/seance" class="btn btn-primary espace">Seance</button>
	</div>
		<!--affichage du menu-->
	<div class="row">
		<router-outlet></router-outlet>
	</div>
</div>