<div class="container">
	<div class="row">
		<!-- Ajout d'une ville -->
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter une ville</h4>
				</div>
				<div class="panel-body">
					<!-- le formulaire de saisie de ville -->
					<div>
						<div>
							<label for="name">Nom :</label>
							<input [(ngModel)]="ville.name" class="form-control">
						</div>
						<div>
							<label for="altitude">Altitude :</label>
							<input [(ngModel)]="ville.altitude" class="form-control">
						</div>
						<div>
							<label for="latitude">Latitude :</label>
							<input [(ngModel)]="ville.latitude" class="form-control">
						</div>
						<div>
							<label for="longitude">Longitude :</label>
							<input [(ngModel)]="ville.longitude" class="form-control">
						</div>
						<br>
						<button (click)="saveville()" class="btn bg-primary spacer espace">
							Ajouter
						</button>
					</div>
				</div>
			</div>
		</div> 
		<!-- Liste des villes -->
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des villes</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="villes.length>0">
                       
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
								<td>Ville</td>
								<td>Altitude</td>
								<td>Latitude</td>
								<td>Longitude</td>
                            </tr>
                            <tr *ngFor="let v of villes">
                                <td>{{v.id}}</td>
								<td>{{v.name}}</td>
								<td>{{v.altitude}}</td>
								<td>{{v.latitude}}</td>
								<td>{{v.longitude}}</td>
								<td><button class="btn btn-success btn-sm" (click)="detail(v.id)">Details</button></td>
								<td><button class="btn btn-danger btn-sm" (click)="supprimer(v.id)">Supprimer</button></td>
                                <br><br>
                                <td></td>
                            </tr>
                        </table>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>