<div class="container">
	<div class="row">
		<!-- left part -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Vous etes administrateur</h4>
				</div>
				<div class="panel-body">
					Description des etapes a suivre
				</div>
			</div>
		</div> 
		<!-- right part -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Vous etes client</h4>
				</div>
				<div class="panel-body">
					Description des etapes a suivre
				</div>
			</div>
		</div> 
	</div>
</div>
