<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les tickets</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="tickets.length>0">
						<h3>Liste des tickets</h3>
						<tr *ngFor="let t of tickets">
								<td>{{t.idTicket}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
								<td>{{t.nomClient}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
								<td>{{t.codePayement}}</td>&nbsp;&nbsp;&nbsp;&nbsp;
								<td>{{t.reservee}}</td>
						</tr>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
