<div class="container">
	<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des tickets</h4>
				</div>
				<div class="panel-body">
<div>
	
</div>
						<table class="table table-striped">
							<tr>
								<td>ID</td>
								<td>Nom du client</td>
								<td>Prix</td>
								<td>Code du paiement</td>
								<td>Reservation</td>
								
							</tr>
							<tr *ngFor="let t of tickets">
								<td>{{t.idTicket}}</td>
								<td>{{t.nomClient}}</td>
								<td>{{t.prix}}</td>
								<td>{{t.codePayement}}</td>
								<td>{{t.reservee}}</td>
								

								
								
								

							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>


