<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les tickets</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="tickets.length>0">
						<h3>Liste des tickets</h3>
						<table class="table table-striped">
						<tr>
                            <td>ID</td>
							<td>NOM DU CLIENT</td>
                            <td>CODE DE PAIEMENT</td>
                            <td>RESERVEE</td>                          
                        </tr>
						<tr *ngFor="let t of tickets">
								<td>{{t.idTicket}}</td>
								<td>{{t.nomClient}}</td>
								<td>{{t.codePayement}}</td>
								<td>{{t.reservee}}</td>
						</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
